<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OOPS&amp;DS/src/Graph/GraphUsingMatrix.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Graph.GraphUsingMatrix"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OOPS&amp;DS"/>
</launchConfiguration>
